
.navbar {
    display: flex;
    flex-direction: row;
    /* box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); */
    justify-content: space-around;
    width: 80%;
    height: auto;
    max-width: 50em;
}

.nav-item {
    /* navbar button */
    display: flex;
    flex-direction: row;
    height: auto;
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
    color: #000;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    border: none;
}

/* .nav-item:hover {
    background-color: #cee275;
} */
