
.App {
  text-align: center;
  width: 100vw;
  /* justify-content: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'BeautifulPeople';
  src: local('BeautifulPeople'), url(./fonts/BeautifulPeoplePersonalUse-dE0g.ttf) format('truetype');
}

.title {
  height: 1em;
  padding: 0 20px;
  font-size: 2em;
  font-weight: 500;
  margin: 0 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #000;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: BeautifulPeople;;
}
